.*~
xcuserdata/
*.xcuserstate
*google1c4578d9e62c4dc6*
.hg*
.svn/
build/
dist/
propertylist/
altova/
private/
target/
classes/
test-classes/
.manager/
.synapse
index.md
todo.md
.settings
.project
.classpath
*.1
*.class
*.pyc
*.jar
*.zip
*.tar
*.rar
*.bz2
*.gz
.DS_Store
.Spotlight*
.Trash*
.fseventd
.fseventsd
