.*~
xcuserdata/
*.xcuserstate
*google1c4578d9e62c4dc6*
.hg*
.svn/
build/
dist/
propertylist/
altova/
private/
target/
classes/
test-classes/
.manager/
.synapse
index.md
todo.md
.settings
.project
.classpath
*.1
*.class
*.pyc
*.jar
*.zip
*.tar
*.rar
*.bz2
*.gz
.DS_Store
.Spotlight*
.Trash*
.fseventd
.fseventsd

# Created by https://www.gitignore.io/api/xcode

### Xcode ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

# End of https://www.gitignore.io/api/xcode
